# Editor configuration, see https://editorconfig.org
import { Injectable } from '@angular/core';
import { of } from 'rxjs';
import { catchError, tap } from 'rxjs/operators';
import { Customer } from 'src/app/models/app.model';
import { baseUrl } from 'src/environments/environment';
import { LocalStorageService } from '../storage/local-storage.service';
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
