<div class="grid-container">
  <h1 class="mat-h1">My Profile</h1>
  <mat-grid-list cols="6" class="gridList"  rowHeight="50rem">
    <mat-grid-tile [colspan]="4" [rowspan]="">
      <div class="dashboard-card">
        <form [formGroup]="addressForm" novalidate (ngSubmit)="updateProfile()">
          <mat-card class="shipping-card">
            <mat-card-header>
              <mat-card-title>Update profile Information</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Username" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="First name" formControlName="first_name">
                    <mat-error *ngIf="addressForm.controls['first_name'].hasError('required')">
                      First name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Last name" formControlName="last_name">
                    <mat-error *ngIf="addressForm.controls['last_name'].hasError('required')">
                      Last name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Address" formControlName="address"></textarea>
                    <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                      Address is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Phone Number" formControlName="phone"></textarea>
                    <mat-error *ngIf="addressForm.controls['phone'].hasError('required')">
                      Phone number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="hasUnitNumber">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                      City is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="State" formControlName="state">
                    <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                      State is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-radio-group formControlName="shipping">
                    <mat-radio-button value="free">Free Shipping</mat-radio-button>
                    <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
                    <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit">Update Profile</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="">
      <div class="dashboard-card">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>
              Username
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Profile picture Here</div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
