.grid-container {
  margin: 20px;
}
.profile{
  width: 80%;
}

.full-width {
  width: 100%;
}

.profile-card {
  min-width: 120px;
  margin: 20px auto;
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.header{
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
}
.profile-img {
  max-width: 160px;
  max-height: 160px;
}
.circle {
  border-radius: 50% !important;
}
/* .ngx-mat-file-input--default-icon {
  display: none !important;
} */

