.product-container {
    margin: 2rem;
}


.product-card {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
 }
 .image-box{
    margin-top: 0.5rem;
    text-align: center;
    width: auto;
    height: calc(100% - 8rem)
} 

img{ 
    width: auto;
    height: auto;
    max-width: 5rem;
    max-height: 5rem;
    object-position: cover;
}
.product-price.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.price-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.mat-flat-button{
    width: 4rem;
    height: 1.5rem;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
}