<h2 class="mat-h2" mat-dialog-title>New Product</h2>
<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
<div mat-dialog-content>
  <div class="row">
    <!-- name -->
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Product Name" formControlName="name">
        <mat-error *ngIf="productForm.controls['name'].hasError('required')">
          Product name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- price -->
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Product Price" formControlName="price">
        <mat-error *ngIf="productForm.controls['price'].hasError('required')">
          Product price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- stock -->
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Stock</mat-label>
        <mat-select formControlName="stock">
          <mat-option value="0">Select</mat-option>
          <mat-option *ngFor="let item of stock" value="{{item.id}}">{{item.category}}</mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.controls['stock'].hasError('required')">
          Product stock is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- image -->
    <div class="col">
      <mat-form-field class="full-width">
        <ngx-mat-file-input accept="image/png, image/jpeg" formControlName="image" placeholder="Product image">
          <mat-icon ngxMatFileInputIcon>file_upload</mat-icon>
          <mat-error *ngIf="productForm.controls['image'].hasError">
            Product image is <strong>required</strong>
          </mat-error>
        </ngx-mat-file-input>
      </mat-form-field>
    </div>
    
  </div>
  <!-- description -->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="productForm.controls['description'].hasError('required')">
          Product description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- tags -->
  <div class="row">
    <div class="col">
      <mat-selection-list formControlName="tags">
        <h3 mat-subheader>Tags</h3>
          <mat-list-option checkboxPosition="before"
          *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <a mat-button mat-dialog-close>Cancel</a>
  <button mat-button type="submit" color="primary" cdkFocusInitial mat-dialog-close>Submit</button>
</div>
</form>
