.tracker mat-card{
    padding: 0px !important;
    flex: 1;
  }
.tracker mat-card-content{
    padding: 1.5rem;
}
.grid-container {
    margin: 20px;
}
.tracking-card {
    min-width: 120px;
    margin: 20px auto;
}
.tracker-form {
    width: 200px;
    font-size: .9rem;
    background-color: transparent;
}
.full-width-table {
    width: 100%;
}

.full-width-table .mat-header-cell {
    background: #607D8B;
    color: white;
}
.customer-details {
    width: 100%;
    margin-bottom: 1.5rem;
}
.customer-details .mat-card-header {
    padding-top: 1rem;
}
strong{
    padding-right: 1rem;
}