<div class="grid-container">
    <h1 class="mat-h1">Order Tracker</h1>
    <div fxLayoutAlign="center center" fxFlexFill class="tracker">
        <mat-card fxFlex="70" class="tracking-card">
            <mat-toolbar color="primary">
                <div fxLayoutAlign="center center" fxFlexFill class="tracker">
                    <form fxFlex="40" [formGroup]="trackerForm" novalidate (ngSubmit)="trackOrder()">
                        <mat-form-field class="tracker-form">
                        <input matInput placeholder="Tracking ID" formControlName="trackingId">
                        <mat-error *ngIf="trackerForm.controls['trackingId'].hasError('required')">
                            Tracking ID is <strong>required</strong>
                        </mat-error>
                        <button mat-button *ngIf="trackerForm.value.trackingId" matSuffix mat-icon-button aria-label="Clear" (click)="trackerForm.value.trackingId=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-form-field>
                        <button mat-raised-button type="submit">Track</button>
                    </form>
                </div>
            </mat-toolbar>
        <mat-card-content *ngIf="historyData.length > 0">
                <mat-card class="customer-details">
                    <mat-card-header>
                      <mat-card-title>Customer details</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Name:</strong>{{customerDetails.user.first_name}}&nbsp;{{customerDetails.user.last_name}}</p>
                        <p>
                            <strong>Mobile:</strong>{{customerDetails.mobile}}
                        </p>
                        <p>
                            <strong>Address:</strong>{{customerDetails.address}}
                        </p>
                        <p>
                            <strong>City:</strong>{{customerDetails.city}}
                        </p>
                        <p>
                            <strong>Street:</strong>{{customerDetails.street}}
                        </p>
                    </mat-card-content>
                </mat-card>
                <div class="mat-elevation-z8" >
                    <table mat-table class="full-width-table" [dataSource]="dataSource">
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                          <th mat-header-cell color="primary" *matHeaderCellDef> Date </th>
                          <td mat-cell *matCellDef="let row"> {{row.event_date | date}} </td>
                        </ng-container>
                      
                        <!-- Time Column -->
                        <ng-container matColumnDef="time">
                          <th mat-header-cell *matHeaderCellDef> Time </th>
                          <td mat-cell *matCellDef="let row"> {{row.event_date | date:'shortTime'}} </td>
                        </ng-container>
                      
                        <!-- Process Column -->
                        <ng-container matColumnDef="event">
                          <th mat-header-cell *matHeaderCellDef> Process </th>
                          <td mat-cell *matCellDef="let row"> {{row.event}} </td>
                        </ng-container>

                         <!-- Location Column -->
                         <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef> Location </th>
                            <td mat-cell *matCellDef="let row"> {{row.location}} </td>
                          </ng-container>
    
                        <!-- Delivery Date Column -->
                        <ng-container matColumnDef="deliveryDate">
                            <th mat-header-cell *matHeaderCellDef> Delivery Date & Time </th>
                            <td mat-cell *matCellDef="let row"> {{row.delivery_date | date}} at {{row.delivery_date | date:'shortTime'}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
        </mat-card-content>
        </mat-card>
    </div>
    
</div>