.content-style{
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.background-green {
    background: green;
    color: white;
    font-weight: 500;
}

.background-red {
    background: rgb(180, 103, 103);
    color: white;
    font-weight: 500;
}

.background-info{
    background: rgb(120, 158, 219);
    color: white;
    font-weight: 500;
}