<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <div class="customer-card">
        <header class="mat-elevation-z4">
            <img mat-card-image src="{{customer.profile_pic}}" /><br>
            <h1 class="mat-h1" color="primary">
                {{customer.user.first_name}} {{customer.user.last_name}}
             </h1>
        </header>
        <main class="mat-elevation-z4 card-content">
            <h2>Contact Information</h2>
            <h4 class="mat-h4">
                <strong>Email:</strong>&nbsp;&nbsp;{{customer.user.email}}
            </h4>
            <h4 class="mat-h4">
                <strong>Phone No:</strong>&nbsp;&nbsp;{{customer.mobile}}
            </h4>
            <h4 class="mat-h4">
                <strong>City:</strong>&nbsp;&nbsp;{{customer.city}}
            </h4>
            <h4 class="mat-h4">
                <strong>Last Login:</strong>&nbsp;&nbsp;{{customer.user.last_login | date: 'short'}}
            </h4>
            <button mat-raised-button class="mat-h4"
            *ngIf="!customer.user.is_staff">
                <mat-icon>accessibility</mat-icon>
                Make Admin
            </button>
            <button mat-raised-button class="mat-h4"
            *ngIf="customer.user.is_staff">
                <mat-icon>https</mat-icon>
                Revoke Admin Privileges
            </button>
        </main>
    </div>
</div>
<div mat-dialog-actions align="end">
  <a mat-button color="ascent" cdkFocusInitial (click)="onClose()">
      Close
  </a>
  <button mat-button type="submit" color="primary" mat-dialog-close (click)="onDelete(customer)">Delete</button>
</div>