<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{( cardLayout | async )?.columns}}" rowHeight="200px">
    <!--Summary Cards-->
   <mat-grid-tile *ngFor="let mc of summaryData" [colspan]="( cardLayout | async )?.miniCard.cols"
   [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-summary-card [title]="mc.title" [value]="mc.value" [color]="mc.color" [percentValue]="mc.percentValue" [isIncrease]="mc.isIncrease" [isCurrency]="mc.isCurrency" [icon]="mc.icon">
      
      </app-summary-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile *ngFor="let i of ['On Hold', 'Cancelled', 'Approved', 'Delivered']" [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="{{i}} Orders"><div>No Items To Display</div></app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <app-card title="Latest Orders">
        <app-orders-table></app-orders-table>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
